body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}
.grid.hard {
    grid-template-columns: repeat(6, 100px);
}
.card {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}
.hidden {
    background-color: gray;
    background-image: none !important;
}
.gameSelect {
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 16px;
}
.gameLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#FF9D00; 
    align-items: center;
    overflow: hidden;
}
.gameBoard, .gameStartPage {
    display: block;
    position: absolute;
    top: 20%;
}
.gameStartPage {
    transition: all 0.8s;
}
.gameStartPage.settled {
    transform: translateX(-200vw);
}
.gameBoard {
    transition: all 0.2s 0.3s;
    transform: translateX(200vw);
}
.gameBoard.start {
    transform: unset;
}
